.SPM-board_name {
    font-size: 12px;
    margin-bottom: 2px;
}

.SPM-member {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: solid 3px transparent;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
    text-decoration: none;
}

.SPM-member > *:first-child {
    border-radius: 3px;
}

.SPM-member-initials {
    display: block;
    color: #4d4d4d;
    background-color: #dbdbdb;
    font-size: 15px;
    font-weight: 700;
    line-height: 44px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.SPM-leader {
    border: 3px solid gold;
}

.SPM-tab-content {
    padding: 10px;
}

.SPM-member-avatar {
    height: 100%;
    width: 100%;
}

.SPM-board-names li {
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
}

.SPM-warning-alert {
    background-color: #fdf1c1;
    border-radius: 5px;
    padding: 7px;
}

.SPM-info-alert {
    background-color: rgb(196, 229, 250);
    border-radius: 5px;
    padding: 7px;
}

#SPM-copy-slack-chan {
    color: white;
}

.SPM-deadline-title {
    background-color: rgb(86, 133, 161);
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
}

.SPM-text-info {
    position: relative;
    top: 10px;
    color: rgb(86, 133, 161);
}

.SPM-info-alert .emoji-outer {
    position: relative;
    top: 5px;
}

.SPM-description {
    clear: both;
    padding-top: 10px;
    line-height: 1.2em;
}

.SPM-board-names li:hover, .SPM-board-names li.selected {
    color: black;
}

.SPM-lists.SPM-hide {
    display:none;
}

.name.SPM-title {
    position: absolute;
    top: 0px;
    right: 61px;
    font-size: 16px;
    line-height: 53px;
    display: inline-block;
    padding: 0 .5rem 0 1.5rem;
    cursor: pointer;
    color: #555459;
    font-weight: 900;
}

#active_channel_name .name.SPM-title.error {
    color:red;
}

.SPM-message {
    border-radius: 3px;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 7px;
    margin: 0;
    left: 8px;

}

.SPM-error, .SPM-error.SPM-warning {
    background-color: red;
}

.SPM-warning {
    background-color: orange;
}

.SPM-project-informations {
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 0px;
}

.channel.active + .SPM-project-informations {
    color: white;
}

.SPM-duedate {
    font-size: 10px;
    height: 18px;
    text-align: right;
    position: absolute;
    right: 4px;
    top: -1px;
    margin: 0;
    transform: scale(1);
    width: 25px;
    background-color: #F9F3EB;
    border-radius: 3px;
    text-align: center;
    color: #AB9BA9;
}

.SPM-desc {
    display:none;
}

#SPM-notif {
    height: 26px;
    line-height: 18px;
    background: #DA3838;
}

.SPM-emoji {
    transform: scale(0.7);
    width: 58px;
    text-align: right;
    margin: -3px;
    position: absolute;
    left: 12px;
    top: 2px;
    width: 21px;
}

.SPM-not-show-all .channels_list_holder ul li:not(.unread):not(.active):not(.show_in_list_even_though_no_unreads) + .SPM-project-informations
 {
    display: none;
}

.SPM-not-show-all .channels_list_holder div#SPM-my_project:not(#starred_div)>ul li:not(.unread):not(.active):not(.show_in_list_even_though_no_unreads),
.SPM-not-show-all .channels_list_holder div#SPM-my_project:not(#starred_div)>ul li:not(.unread):not(.active):not(.show_in_list_even_though_no_unreads) + .SPM-project-informations
{
    display: block;
}

.section_holder h2:not(#channels_header) {
    pointer-events: none;
}

body:not(.SPM-not-show-all) .section_holder h2:not(#channels_header)::after {
content: " +";
cursor: pointer;
pointer-events: all;
}

body:not(.SPM-not-show-all) .section_holder h2.SPM-plus:not(#channels_header)::after {
    content: " -";
}

#flex_contents #project_container .heading {
    border-bottom: 0;
}

.section_holder:not(.SPM-only-unread) ul li:not(.unread):not(.active):not(.show_in_list_even_though_no_unreads),
.section_holder:not(.SPM-only-unread) ul li:not(.unread):not(.active):not(.show_in_list_even_though_no_unreads) + .SPM-project-informations
{
    display: none;
}

#col_channels.channels_list_holder .section_holder {
    margin: 1rem 0 1rem;
}

.channels_list_holder ul:after {
    content: "i";
    height: 0px;
    display: block;
    overflow: hidden;
}