.SPM-board_name {
    font-size: 12px;
    margin-bottom: 2px;
}

.SPM-member {
    background-color: #dbdbdb;
    border-radius: 3px;
    border: solid 2px transparent;
    color: #4d4d4d;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    width: 30px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
    text-decoration: none;
}

.SPM-member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.SPM-tab-content {
    padding: 10px;
}

.SPM-member-avatar {
    height: 30px;
    width: 30px;
}

.SPM-board-names li {
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
}

.SPM-description {
    clear: both;
    padding-top: 10px;
}

.SPM-board-names li:hover, .SPM-board-names li.selected {
    color: black;
}

.SPM-lists.SPM-hide {
    display:none;
}

#active_channel_name .name.SPM-title {
    font-size: 16px;
}

#active_channel_name .name.SPM-title.error {
    color:red;
}

.SPM-leader {
    border: 2px solid gold;
}