
<h2 id="starred_section_header" class="overflow-ellipsis">Mes projets</h2>
<ul id="starred-list">
    <% projects.forEach(function(project) { %>
    <li class="channel ">
        <a class="channel_name" data-channel-id="<%= project.slackId %>">
            <span class="overflow-ellipsis">
                <span class="prefix">#</span>
                <%= project.slack %>
            </span>
        </a>
    </li>
    <% }) %>
</ul>